body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(238, 211, 217);
}
h1{
  color: blue;
  font-weight: bold;
  font-size: 36px;
  padding: 30px 0;
  background color: red;
}

#container{
  text-align: center;

}
.comment{
  display: none;
border: dashed 1px;
border-radius: 7px;
padding: 5px;
} 

